[env]
HOUSE_NAME = "{{HOUSE_NAME}}"
HOUSE_PROJECT = "{{PROJECT}}"
HOUSE_DIR = "{{ config_root }}"
WORK_DIR = "{{WORK_DIR_EXPR}}"
HOUSE_MAIL_DOMAIN = "{{ env.HOUSE_MAIL_DOMAIN | default(value='{{HOUSE_NAME}}.local') }}"

[settings]
experimental = true
quiet = true
task_output = "interleave"

[tools]
"aqua:KnickKnackLabs/bats-core" = "1.14.0-kkl.3"
{{PRESET_TOOLS}}
[settings.aqua]
registries = ["https://github.com/KnickKnackLabs/bats-core"]
{{PRESET_PLUGINS}}